@model IEnumerable<VirtualAgentAssessment.Models.AccountViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.account_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outstanding_balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.account_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outstanding_balance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.code }) |
            @if (item.IsActive)
            {
                @Html.ActionLink("Close Account", "CloseAccount","Account", new {  code = item.code },null)
            }
            else
            {
                @Html.ActionLink("Re Open Account", "Delete", new {  id=item.code })
            }
           
        </td>
    </tr>
}
</table>
