@using System.Globalization
@using System.Web.Mvc.Html
@model VirtualAgentAssessment.Models.TransactionViewModel


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Create Transaction</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.transaction_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.transaction_date,  new { htmlAttributes = new { @class = "form-control datepicker" ,@Value = Model.transaction_date.ToString("yyyy/MM/dd")} })
                @Html.ValidationMessageFor(model => model.transaction_date, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control only-numeric" name="amount" value="@Model.amount.ToString("0.00", CultureInfo.InvariantCulture)"/>
                @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>
<br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.HiddenFor(x=>x.account_code)
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}
<br/>
<div>
    @Html.ActionLink("Back to Account", "Edit","Account",new{ code = Model.account_code},null)
</div>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet"/>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
            $(".datepicker").datepicker({
                  dateFormat: "yy/mm/dd",
                  changemonth: true,
                  changeyear: true
                  });
               $(".only-numeric").bind("keypress",function (e) {
                 var keyCode = e.which ? e.which: e.keyCode;
                 return (keyCode >=48 && keyCode <=57)|| keyCode === 110 || keyCode === 190|| keyCode === 46 || keyCode === 45;
              });
          });
    </script>
}
