@model PagedList.IPagedList<VirtualAgentAssessment.Models.PersonViewModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "PersonList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Person List</h2>

<p>
    @Html.ActionLink("Create New Person", "Create")
</p>
@using (Html.BeginForm("Index", "Person", FormMethod.Get))
{   
        <div class="row">
            <div class="col-md-1">
                Find by :
            </div>  
            <div class="col-md-3">
                @Html.DropDownList("SearchType", ViewBag.SearchCategoryList as SelectList, new { @class = "form-control" })
            </div>     
            <div class="col-md-3">
                @Html.TextBox("SearchString", ViewBag.SearchString as string ,new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <input type="submit" value="Search" />
            </div>
        </div>
}
<br/>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Id Number</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_number)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  code = item.code }) |
                @Html.ActionLink("Delete", "Delete", new {  code = item.code })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, searchType = ViewBag.SearchCategory, searchString = ViewBag.SearchString }))